@page "/configuration"

@inherits Jarvis.BlazorPageComponentBase

<PageTitle>@PageTitle</PageTitle>

@if (SecureAppSettingsViewModel == null)
{
    <div class="loader container d-flex">
        <div class="align-self-center">
            <div class="spinner-border" role="status" />
        </div>
    </div>
}
else
{
    <section>
        <div class='row'>
            <div class='col-12 col-md-6'>
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <EditForm EditContext="@editContext" OnValidSubmit="@HandleOnValidSubmit">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="form-group">
                                    <label for="@nameof(SecureAppSettingsViewModel.OpenVPNUsername)">OpenVPNUsername</label>
                                    <InputText id="@nameof(SecureAppSettingsViewModel.OpenVPNUsername)" @bind-Value="SecureAppSettingsViewModel.OpenVPNUsername" class="form-control" placeholder="Enter OpenVPN username" />
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(SecureAppSettingsViewModel.OpenVPNPassword)">OpenVPNPassword</label>
                                    <InputText type="password" id="@nameof(SecureAppSettingsViewModel.OpenVPNPassword)" @bind-Value="SecureAppSettingsViewModel.OpenVPNPassword" class="form-control" placeholder="Enter OpenVPN password" />
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(SecureAppSettingsViewModel.TmdbApiKey)">TmdbApiKey</label>
                                    <InputText id="@nameof(SecureAppSettingsViewModel.TmdbApiKey)" @bind-Value="SecureAppSettingsViewModel.TmdbApiKey" class="form-control" placeholder="Enter TMDB api key" />
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(SecureAppSettingsViewModel.TmdbAccessToken)">TmdbAccessToken</label>
                                    <InputText id="@nameof(SecureAppSettingsViewModel.TmdbAccessToken)" @bind-Value="SecureAppSettingsViewModel.TmdbAccessToken" class="form-control" placeholder="Enter TMDB access token" />
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(SecureAppSettingsViewModel.PlexUsername)">PlexUsername</label>
                                    <InputText id="@nameof(SecureAppSettingsViewModel.PlexUsername)" @bind-Value="SecureAppSettingsViewModel.PlexUsername" class="form-control" placeholder="Enter Plex username" />
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(SecureAppSettingsViewModel.PlexPassword)">PlexPassword</label>
                                    <InputText type="password" id="@nameof(SecureAppSettingsViewModel.PlexPassword)" @bind-Value="SecureAppSettingsViewModel.PlexPassword" class="form-control" placeholder="Enter Plex password" />
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
