@page "/"

@using Jarvis.Pages.Home.Components
@using Jarvis.Shared.Components.Loader
@using Jarvis.Technical

@inherits BlazorPageComponentBase

<PageTitle>@PageTitle</PageTitle>

@*@if (true)*@
@if (MediaStorageStateViewModel == null || MediaStorageStateViewModel.Folders == null)
{
    <LoaderComponent />
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <ServiceStateComponent IsActive=@GameControllerClientStateViewModel.IsActive Title=@GameControllerClientStateViewModel.Title Subtitle=@GameControllerClientStateViewModel.Subtitle />
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <ServiceStateComponent IsActive=@VPNClientStateViewModel.IsActive Title=@VPNClientStateViewModel.Title Subtitle=@VPNClientStateViewModel.Subtitle OnStatusChangeRequestedCallback=@ToggleVPNClientStatusAsync />
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <ServiceStateComponent IsActive=@TorrentClientStateViewModel.IsActive Title=@TorrentClientStateViewModel.Title Subtitle=@TorrentClientStateViewModel.Subtitle OnStatusChangeRequestedCallback=@ToggleTorrentClientStatusAsync />
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@MediaStorageStateViewModel.Title</h5>
                        <hr />
                        <div id="chart-container">
                            <div id="container">
                                <div id="chart" style="@MediaStorageStateViewModel.PieChartCssStyle" />
                            </div>
                            <div id="legend">
                                @foreach (var folder in MediaStorageStateViewModel.Folders)
                                {
                                    <div class="entry">
                                        <div style="background-color:@folder.Color" class="entry-color"></div>
                                        <div class="entry-text">@folder.DisplayName</div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@Localizer["PublicIPAddress.Title"]</h5>
                        <hr />
                        <div class="ipaddress d-flex flex-column flex-grow-1 justify-content-center">
                            @PublicIPAddress
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
